header {
    background-color: #E5E5E5;
    border-bottom: solid 3px #E4E4E4;

    svg {
        margin-top: 15px;
        margin-bottom: -5px;
    }

    .menu {

        a {

            border-bottom: solid 2px #e4e4e4;
            transition: all 0.5s 0s ease-in-out;
            color: #2F2E41;
            font-size: 16px;
            line-height: 20px;

            &:hover {
                color: #6C63FF;
                border-bottom: solid 2px #6C63FF;
            }

        }

    }

}