#main {
    background-color: #E5E5E5;
    padding: 96px 0px 160px 0px;
    
    p {
        margin-top: 12px;
        margin-bottom: 40px !important;
    }

    a {
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 21px;
        color: #FFF;
        background-color: #57B894;
        padding: 15px 32px;
        border-radius: 4px;
        transition: background 0.5s 0s ease-in-out;
        text-transform: uppercase;
        margin-top: 24px;

        &:hover {
            background-color: #2F2E41;
        }

    }

    .image-hero {
        background: url(../img/bg-hero.png) no-repeat top right;

        @include breakpoint(medium down) {
            background: none;

            img {
                padding: 20px 0px 0px 0px;
            }

        }

        img {
            padding: 68px 0px 0px 30px;
        }

    }

}